@import './../../../../assets/styles/variables.scss';
@import './../../../../assets/styles/mixins.scss';

.pagination {
  @include flex-row-center;
  &__page-link {
    cursor: pointer;

    margin: 0 5px;
    color: $text_color_light;
    border: none;
    outline: none;
    background-color: inherit;
  }
  .active {
    cursor: pointer;

    font-weight: bold;
    margin: 0 5px;
    padding: 8px 12px;

    border-radius: 5px;
    color: $yellow_color;
    border: 2px dotted $text_color_light;
  }
}
.reverse {
  cursor: pointer;
  transform: rotate(180deg);
}
.arrows {
  margin-top: 5px;
}
