<div class="pagination">
  <button
    type="button"
    (click)="navigateToPage(firstPage)"
    *ngIf="currentPage > 1"
    class="pagination__page-link">
    <img class="arrows" alt="close" src="../../../../assets/icons/control.svg" />
  </button>
  <button
    type="button"
    (click)="goToPrevPage(currentPage)"
    *ngIf="currentPage > 1"
    class="pagination__page-link">
    {{ currentPage - 1 }}
  </button>
  <span class="active">{{ currentPage }}</span>
  <button
    type="button"
    (click)="goToNextPage(currentPage)"
    *ngIf="currentPage < totalPages"
    class="pagination__page-link">
    {{ currentPage + 1 }}
  </button>
  <button
    type="button"
    (click)="navigateToPage(totalPages)"
    *ngIf="currentPage < totalPages"
    class="pagination__page-link">
    <img
      alt="close"
      class="arrows reverse"
      src="../../../../assets/icons/control.svg" />
  </button>
</div>
