<div class="settings">
  <div class="settings__input-item">
    <input
      title="createCar"
      type="text"
      id="createCar"
      class="settings__input"
      placeholder="Create car" />
    <input
      title="color"
      type="color"
      id="colorTop"
      value="#ffba08"
      class="settings__input-color" />
    <app-button
      [text]="'CREATE'"
      [style]="'light'"
      [width]="'200px'"
      [disabled]="false"></app-button>
  </div>
  <div class="settings__input-item">
    <input
      title="updateCar"
      type="text"
      id="updateCar"
      class="settings__input"
      placeholder="Update car" />
    <input
      title="color"
      value="#000000"
      type="color"
      id="colorBottom"
      class="settings__input-color"
      placeholder="Update car" />
    <app-button
      [text]="'UPDATE'"
      [style]="'light'"
      [width]="'200px'"
      [disabled]="false"></app-button>
  </div>
</div>
