<section class="table-wrapper">
  <span class="table-counter"
    >WINNERS: {{ totalWinnersCount$ | async }} cars</span
  >
  <div class="table">
    <table class="table">
      <thead>
        <tr class="table__header">
          <th class="table__header-item">№</th>
          <th class="table__header-item">CAR</th>
          <th class="table__header-item">NAME</th>
          <th class="table__header-item">
            WINS
            <button
              type="button"
              (click)="sortWins()"
              class="table__header-arrow-wr">
              <img
                alt="sort"
                [ngClass]="{
                  'table__header-arrow': acsWins === 'ASC',
                  'table__header-arrow-desc': acsWins === 'DESC'
                }"
                src="../../../../assets/icons/control.svg" />
            </button>
          </th>
          <th class="table__header-item">
            BEST TIME <br />(sec)
            <button
              type="button"
              (click)="sortTime()"
              class="table__header-arrow-wr">
              <img
                alt="sort"
                [ngClass]="{
                  'table__header-arrow': acsTime === 'ASC',
                  'table__header-arrow-desc': acsTime === 'DESC'
                }"
                src="../../../../assets/icons/control.svg" />
            </button>
          </th>
        </tr>
      </thead>
      @if (winnersData$ | async; as winnersData) {
        <tbody>
          @for (winnerItem of winnersData; track winnerItem; let i = $index) {
            <tr class="table__contain">
              <td class="table__item">
                {{ (currentPage - 1) * winnersPerRage + i + 1 }}
              </td>
              <td class="table__item">
                <app-car
                  [car]="winnerItem"
                  class="table__item_img"
                  [carClass]="'table__item_img'"></app-car>
              </td>
              <td class="table__item">{{ winnerItem.name }}</td>
              <td class="table__item">{{ winnerItem.wins }}</td>
              <td class="table__item">{{ winnerItem.time }}</td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
</section>
