@import './../../../../assets/styles/variables.scss';
@import './../../../../assets/styles/mixins.scss';

.button {
  @include font-16-400;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 16px;

  &__dark {
    background-color: $yellow_color_dark;
    color: $text_color_light;
    border: none;
    transition:
      background-color 0.3s ease-out,
      color 0.3s ease-out;
    &:hover {
      background-color: $yellow_color;
      color: $text_color_dark;
    }

    &:disabled {
      background-color: $background_color;
      border: 1px solid $yellow_color_dark;
      color: $text_color_light;
      cursor: default;
    }
  }
  &__light {
    background-color: $yellow_color;
    transition:
      background-color 0.3s ease-out,
      color 0.3s ease-out;
    &:hover {
      background-color: $yellow_color_dark;
      color: $text_color_light;
    }

    &:disabled {
      background-color: $background_color;
      border: 1px solid $yellow_color;
      color: $text_color_light;
      cursor: default;
    }
  }
}
