<div class="control">
  <app-button
    [text]="'RACE'"
    [style]="'dark'"
    [width]="'100px'"
    [disabled]="(areCarsMoving$ | async) === true"
    (click)="raceAllCars()"></app-button>
  <app-button
    [text]="'RESET'"
    [style]="'dark'"
    [width]="'100px'"
    [disabled]="(areCarsMoving$ | async) === false"
    (click)="resetAllCars()"></app-button>
  <app-button
    [text]="'GENERATE CARS'"
    [style]="'dark'"
    [width]="'180px'"
    [disabled]="(areCarsMoving$ | async) === true"
    (click)="generateCars()"></app-button>
</div>
