<div class="footer">
  <div class="footer__img">*</div>
  <div class="footer__info">
    <span> Created by</span>
    <div>
      <a
        rel="noopener"
        href="https://github.com/nataliiaboiko22"
        target="_blank">
        <img
          src="../../../assets/icons/githubsvg.svg"
          class="footer__github-logo"
          alt="GitHub" />
      </a>
    </div>
    <div class="footer__author">
      <a
        rel="noopener"
        target="_blank"
        href="https://www.linkedin.com/in/nataliia-boiko-ab48a9242"
        class="footer__author-link"
        >Nataliia Boiko</a
      >
    </div>
  </div>
</div>
