<div class="header">
  <div class="header__logo">
    <span>*</span>
    <h1>Async Race</h1>
  </div>
  <div class="header__buttons">
    <app-button
      [text]="'GARAGE'"
      [style]="isActive('/') ? 'light' : 'dark'"
      [width]="'180px'"
      [disabled]="false"
      [routerLink]="['/']"
      routerLinkActive="active-link"
      (click)="resetCars()"></app-button>
    <app-button
      [text]="'WINNERS'"
      [style]="isActive('/winners') ? 'light' : 'dark'"
      [width]="'180px'"
      [disabled]="false"
      [routerLink]="['/winners']"
      routerLinkActive="active-link"
      (click)="resetCars()"></app-button>
  </div>
</div>
