@mixin font-14-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; //21.28px;
}

@mixin font-16-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; //24.32px;
}
@mixin font-16-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; //24.32px;
}
@mixin font-20-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 150%; //24.32px;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
