$primary_font_family: 'Montserrat', sans-serif;

$black_color: #000000;
$background_color: rgb(29, 28, 28);

$text_color_dark: #252323;
$text_color_light: #fbe7af;
$yellow_color: #ffba08;
$yellow_color_dark: #745404;
$milk_color: #f2f9fb;
